* {
    margin: 0;
    padding: 0;
    /* disable double_tap zoom on mobile devices */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /* strange margin-right occurs when vw<500px */
    /* overflow-x: hidden; */
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #9d88d3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    overflow-x: hidden;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#wrapper-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/hertaa1.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    z-index: -50;
}

#wrapper-background-filter {
    background-color: #9d88d3f5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -20;
}

#loading {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(../img/hertaa1.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.preload {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}


h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

#title-container {
    display: flex;
    justify-content: center;
}

#page-title {
    text-align: left;
}

#title-img {
    height: 4em;
}



#counter-container {
    text-align: center;
    font-weight: bold;
    margin: 64px 0;
    color: white;
}

#counter-container>p {
    text-shadow: #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px;
}

#global-counter {
    color: #574f84;
    font-size: 2em;
    line-height: 38px;
}

#local-counter {
    color: #574f84;
    font-size: 2em;
}

#counter-button {
    background-color: #574f84;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;
    min-width: 120px;

    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, scale 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#counter-button:hover {
    background-color: #2d2463;
}

#counter-button:active {
    scale: 0.95;
}

#counter-button span {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff50;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    animation: ripple 1s;
    opacity: 0;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}



